<mat-toolbar-row fxHide fxShow.gt-sm class="container" fxLayout="row"  fxLayout.xs="row" fxLayoutAlign="space-between center">
  <div class="main-menu" fxLayout="row" fxHide fxShow.gt-sm>
	<a  mat-button class="mat-button" [routerLink]="['/home/one']" routerLinkActive="router-link-active">Home</a>
    <a  mat-button class="mat-button" [matMenuTriggerFor]="Products" (click)="openMegaMenu()">Products<mat-icon class="caret">arrow_drop_down</mat-icon></a>
      <mat-menu #Products="matMenu" [overlapTrigger]="false" class="app-dropdown mega-menu">
          <div fxLayout="row wrap">
              <div fxFlex="100" fxLayout="column" class="p-1">
                  <a mat-menu-item routerLink="/home/products/Twist Slim Battery"><b>Twist Slim Pen Battery</b></a>
                  <mat-divider></mat-divider>
                  <a mat-menu-item routerLink="/home/product/1">MYMY SLIM PEN TWIST BATTERY + SMART USB - BLACK BEAUTY</a>
                  <a mat-menu-item routerLink="/home/product/2">MYMY SLIM PEN TWIST BATTERY + SMART USB - GOLD MINE</a>
                  <a mat-menu-item routerLink="/home/product/3">MYMY SLIM PEN TWIST BATTERY + SMART USB - BLUE MOON</a>
                  <a mat-menu-item routerLink="/home/product/4">MYMY SLIM PEN TWIST BATTERY + SMART USB - SHINY CHROME</a>
                  <a mat-menu-item routerLink="/home/product/5">MYMY SLIM PEN TWIST BATTERY + SMART USB - RAINY RAINBOW</a>
              </div>
          </div>

      </mat-menu>
      <a  mat-button mat-button [matMenuTriggerFor]="Support" class="mat-button">Support<mat-icon class="caret">arrow_drop_down</mat-icon></a>
      <mat-menu #Support="matMenu" [overlapTrigger]="false" class="app-dropdown">
          <a mat-menu-item [routerLink]="['/pages/register-warranty']">Register your MyMy Product</a>
          <a mat-menu-item [routerLink]="['/pages/register-warranty']">File your Warranty Claim</a>
          <a mat-menu-item [routerLink]="['/pages/faq']">FAQs</a>
      </mat-menu>
      <a  mat-button [matMenuTriggerFor]="pages" class="mat-button">About US<mat-icon class="caret">arrow_drop_down</mat-icon></a>
      <mat-menu #pages="matMenu" [overlapTrigger]="false" class="app-dropdown">
        <a [routerLink]="['/pages/about']" mat-menu-item>About Us</a>
        <a mat-menu-item [routerLink]="['/pages/contact']">Contact</a>
      </mat-menu>
      <a [routerLink]="['/pages/wholesalers']" routerLinkActive="router-link-active"   mat-button class="mat-button">Wholesale Inquiries</a>
    </div>
</mat-toolbar-row>

