<div class="home-header">
  <div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px" fxlayoutalign="space-between center">
    <div class="logo"><a [routerLink]="['/home/one']" routerLinkActive="router-link-active" ><img src="assets/images/mymylogo-2.png"></a></div>
	<div class="call-bucket-wrap" fxLayout="row" fxLayout.sm="row" fxLayoutAlign="center center" >
		<div class="info-text">
              <h4>MyMy Vaping Battery!!</h4>
         </div>
	</div>
	<div fxflexoffset.gt-sm="10"  fxFlex class="search-form">
        <!--<form class="search-form" fxLayout="row">
          //<div class="form-wrap">
             <input matInput placeholder="Enter Product Serial Number.." [(ngModel)]="inputVar"  name="inputVar1">
             <button class="btn-search" (click)="validateProductId()">Check Product Id</button>
          </div>
        </form> -->

        <form class="search-form" fxLayout="row">
          <div class="form-wrap">
             <input matInput placeholder="Enter Product Serial Number.." [(ngModel)]="productidstatus"  name="productidstatus">
             <button class="btn-search" (click)="validateProductIdNew()">Check Product Id</button>
          </div>
        </form>


       </div>
	
    <div class="call-bucket-wrap" fxLayout="row" fxLayout.sm="row" fxLayoutAlign="center center" >
        <div class="info-message-icon"  fxLayout="row" fxLayoutAlign="center center">
          <div class="icon"  fxLayout="row" >
              <mat-icon class="mat-icon-lg mat-icon material-icons">email</mat-icon>
          </div>
            <div class="info-text">
              <p>Reach us:</p>
               <span>contact@mymyvape.com</span>
            </div>
        </div>
       
      </div>
</div>
<div class="menu-container1">
    <app-menu></app-menu>
</div>

