<div class="register-product-page sec-padding">
  <div class="container">
  <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start"  class="p-0">
    <div fxFlex="100"   fxFlex.gt-sm="60" class="left-info-panel">
      <div class="title">
          <h3>Register your MyMy Product.</h3>
		  <br/>
	    </div>
      <form fxLayout="row wrap" [formGroup]="regservice.registerform">
      <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
				  <mat-label>Serial number of the product</mat-label>
                  <input matInput formControlName="rserialnumber" placeholder="Please enter serial number here." required>
                  <mat-error>Required.Please enter the serial number of your mymy product.</mat-error>
                </mat-form-field>
          </div>
      <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
            <mat-form-field class="w-100">
                  <mat-label>Select a picture of the serial number on the product to be uploaded.</mat-label>
                  <input matInput formControlName="rfilepath" placeholder="Please upload a picture of the serial number of the product to be uploaded." required readonly>
              <input type="file" #rfilepath id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile" accept="image/*"/>
              </mat-form-field>
        </div>
             
              
      <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
            <mat-form-field class="w-100">
				  <mat-label>Please enter date of purchase.</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="rpurchasedate" placeholder="Please enter date of purchase.">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
          </div>
		  <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
				  <mat-label>First name of the buyer</mat-label>
                  <input matInput formControlName="rfirstname" placeholder="Please enter first name of the buyer.">
                </mat-form-field>
          </div>
		  <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
				  <mat-label>Last name of the buyer</mat-label>
                  <input matInput formControlName="rlastname" placeholder="Please enter last name of the buyer." required>
                  <mat-error>Required.Please enter last name of the buyer.</mat-error>
                </mat-form-field>
          </div>
		   <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
            <mat-form-field class="w-100">
				  <mat-label>Please Enter the date of birth of the buyer</mat-label>
                  <input matInput [matDatepicker]="picker1" formControlName="rdateofbirth" placeholder="Please enter date of birth of the purchaser">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
          </div>
          <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
				  <mat-label>Email of the buyer</mat-label>
                  <input matInput formControlName="remailaddress" placeholder="Please enter the email address of the purchaser." required>
                  <mat-error>Required.Please enter the email address of the purchaser.</mat-error>
                </mat-form-field>
          </div>
		  <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
				  <mat-label>Address Line 1 of the buyer</mat-label>
                  <input matInput formControlName="raddressline1" placeholder="Please enter the street number and name of the purchaser.">
                </mat-form-field>
          </div>
		  <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
				  <mat-label>Address Line 2 of the buyer</mat-label>
                  <input matInput formControlName="raddressline2" placeholder="Please enter the apt/suite number of the purchaser.">
                </mat-form-field>
          </div>
		   <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
				  <mat-label>City</mat-label>
                  <input matInput formControlName="rcity" placeholder="Please enter the city of the purchaser.">
                </mat-form-field>
          </div>
          <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
				  <mat-label>State</mat-label>
                  <mat-select matSelect formControlName="rstate" placeholder="Please enter the state of the purchaser.">
                    <mat-option>None</mat-option>    
                    <ng-container *ngFor="let rstate of rstates">
                      <mat-option value="{{rstate.code}}">{{rstate.name}}</mat-option>
                    </ng-container>
                    </mat-select>
                </mat-form-field>
          </div>
		  <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
				  <mat-label>ZipCode</mat-label>
                  <input matInput formControlName="rzipcode" placeholder="Please enter the zipcode of the purchaser." required>
                  <mat-error>Required.Please enter the zip code of the purchaser.</mat-error>
                </mat-form-field>
          </div>
		  <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
                <mat-label>Country</mat-label>
                <mat-select matSelect formControlName="rcountry" placeholder="Please select the Country of the purchaser.">
                <mat-option>None</mat-option>    
                <ng-container *ngFor="let rcountry of rcntries">
                  <mat-option value="{{rcountry.code}}">{{rcountry.name}}</mat-option>
                </ng-container>
                </mat-select>
                </mat-form-field>
          </div>
		  <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <button class="btn-project" 
                      mat-raised-button color="accent" 
                      type="submit" 
                      [class.spinner]="rsubmitbuttonloading" 
                      [disabled]="regservice.registerform.invalid"
                      (click)="UploadRegistration()">Register</button>
            </div>
            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1" [hidden]="!rshowsubmitstatus">
              <mat-label>Registration Submission Status: {{rsubmissionstatusstring}}</mat-label>
         </div>
    
     </form>
    </div>
    <div fxFlex="100"   fxFlex.gt-sm="60" class="register-warranty-form">
        <div class="title">
            <h3>File your claim for your MyMy Product.</h3>
        </div>
         <form fxLayout="row wrap" [formGroup]="regservice.warrantyform">
            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
                  <mat-label>Serial number of the product</mat-label>
                  <input matInput formControlName="wserialnumber" placeholder="Please enter serial number here." required>
                  <mat-error>Required.Please enter the serial number of your mymy product.</mat-error>
              </mat-form-field>
            </div>
           <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
                    <mat-label>Select a picture of the serial number on the product to be uploaded.</mat-label>
                    <input matInput formControlName="wserialnumberfilepath" placeholder="Please upload a picture of the serial number of the product to be uploaded." required readonly>
                    <input type="file" #wserialnumberfilepath id="wserialuploadFile" (change)="uploadWSerialFileEvt($event)" name="wserialuploadFile" accept="image/*"/>
                </mat-form-field>
            </div>
            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
                    <mat-label>Select a picture of the receipt of the product when purchased.</mat-label>
                    <input matInput formControlName="wreceiptfilepath" placeholder="Please upload a picture of the purchase receipt of the product to be uploaded." required readonly>
                    <input type="file" #wreceiptfilepath id="wreceiptuploadFile" (change)="uploadWReceiptFileEvt($event)" name="wreceiptuploadFile" accept="image/*"/>
              </mat-form-field>
            </div>
            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
                    <mat-label>First name of the buyer</mat-label>
                    <input matInput formControlName="wfirstname" placeholder="Please enter first name of the buyer.">
              </mat-form-field>
            </div>
            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
                  <mat-label>Last name of the buyer</mat-label>
                  <input matInput formControlName="wlastname" placeholder="Please enter last name of the buyer." required>
                  <mat-error>Required.Please enter last name of the buyer.</mat-error>
              </mat-form-field>
            </div>
            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
               <mat-form-field class="w-100">
                  <mat-label>Please Enter the date of birth of the buyer</mat-label>
                  <input matInput [matDatepicker]="picker2" formControlName="wdateofbirth" placeholder="Please enter date of birth of the purchaser">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
               </mat-form-field>
            </div>
            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
                  <mat-label>Email of the buyer</mat-label>
                  <input matInput formControlName="wemailaddress" placeholder="Please enter the email address of the purchaser." required>
                  <mat-error>Required.Please enter the email address of the purchaser.</mat-error>
              </mat-form-field>
            </div>
            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
                  <mat-label>Address Line 1 of the buyer</mat-label>
                  <input matInput formControlName="waddressline1" placeholder="Please enter the street number and name of the purchaser.">
              </mat-form-field>
            </div>
            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
                  <mat-label>Address Line 2 of the buyer</mat-label>
                  <input matInput formControlName="waddressline2" placeholder="Please enter the apt/suite number of the purchaser.">
              </mat-form-field>
            </div>
            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
                  <mat-label>City</mat-label>
                  <input matInput formControlName="wcity" placeholder="Please enter the city of the purchaser.">
              </mat-form-field>
            </div>
            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
            <mat-label>State</mat-label>
                  <mat-select matSelect formControlName="wstate" placeholder="Please enter the state of the purchaser.">
                    <mat-option>None</mat-option>    
                    <ng-container *ngFor="let wstate of rstates">
                      <mat-option value="{{wstate.code}}">{{wstate.name}}</mat-option>
                    </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
            <mat-label>ZipCode</mat-label>
                  <input matInput formControlName="wzipcode" placeholder="Please enter the zipcode of the purchaser." required>
                  <mat-error>Please enter the zip code of the purchaser.</mat-error>
                </mat-form-field>
            </div>
            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
                <mat-label>Country</mat-label>
                <mat-select matSelect formControlName="wcountry" placeholder="Please select the Country of the purchaser.">
                <mat-option>None</mat-option>    
                <ng-container *ngFor="let wcountry of rcntries">
                  <mat-option value="{{wcountry.code}}">{{wcountry.name}}</mat-option>
                </ng-container>
                </mat-select>
                </mat-form-field>
            </div>
            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
                <mat-label>Reason for the claim</mat-label>
                    <textarea matInput 
                              formControlName="wclaimreason" 
                              placeholder="Please enter the zipcode of the purchaser." 
                              required></textarea>
                    <mat-error>Please enter a valid reason for your claim.</mat-error>
              </mat-form-field>
            </div>
            <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <button class="btn-project" 
                      mat-raised-button color="accent" 
                      type="submit" 
                      [class.spinner]="wsubmitbuttonloading" 
                      [disabled]="regservice.warrantyform.invalid"
                      (click)="UploadWarrantyClaim()">File your claim.</button>
            </div>
            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1" [hidden]="!wshowsubmitstatus">
              <mat-label>Warranty Claim Submission Status: {{wsubmissionstatusstring}}</mat-label>
            </div>
         </form>
    </div>
  </mat-card>
</div>
</div>

