<app-main-carousel [slides]="slides"></app-main-carousel>
<div class="home-1-wrap">
  <div class="container">
      <div fxLayout="row wrap" class="info-bar">
        <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
          <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg  m-0">card_giftcard</mat-icon>
            <div class="content">
              <p>Wholesale Pricing</p>
              <span class="text-muted m-0">Get Wholesale Pricing for bulk orders</span>
            </div>
          </mat-card>
        </div>
        <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
          <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg  m-0">local_shipping</mat-icon>
            <div class="content">
              <p>DISCOUNTED SHIPPING</p>
              <span class="text-muted m-0">Discounted shipping on all orders.</span>
            </div>
          </mat-card>
        </div>
        <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
          <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg m-0">monetization_on</mat-icon>
            <div class="content">
              <p>Life-time Warranty</p>
              <span class="text-muted m-0">We stand behind our products.</span>
            </div>
          </mat-card>
        </div>
        <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
          <mat-card class="light-block no-bd" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg m-0">how_to_reg</mat-icon>
            <div class="content">
              <p>ONLINE Product Registration/Claim Submissions</p>
              <span class="text-muted m-0"><a href="/pages/register-warranty">Register your products Online</a></span>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="products sec-padding">
          <mat-tab-group>

            <mat-tab  label="FEATURED PRODUCTS">

                     <app-product-carousel [product]="products | slice:0:8"></app-product-carousel>

            </mat-tab>

            <mat-tab label="LATEST PRODUCTS">

                    <app-product-carousel [product]="products | slice:0:14"></app-product-carousel>

            </mat-tab>

            <!-- <mat-tab label="ON SALE PRODUCTS">

                      <app-product-carousel [product]="products | slice:14:22"></app-product-carousel>

            </mat-tab> -->

          </mat-tab-group>
        </div>
      <app-banners [banners]="banners"></app-banners>
      <app-product-vertical [products]="products"></app-product-vertical>
    </div>
</div>
