<div class="faq sec-padding">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start"  class="p-0">
        <div fxFlex="100" fxFlex.gt-sm="50" class="questions">
            <div class="faq-wrap">
                <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span>How do you I register my MyMy Twist Slim Pen?</span>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p></p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                              <span>How do I file my warranty claim for my MyMy Twist Slim Pen?</span>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore. Love life’s sweetest reward Let it flow it floats back to you.
							<img style="width:250px;height:125px;" src="assets/images/WarrantyCard.png">
                          </p>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                                <span>How do I get bulk pricing on my orders?</span>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore. Love life’s sweetest reward Let it flow it floats back to you.
                            </p>
                        </mat-expansion-panel>
                  </mat-accordion>
            </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="faq-form">
            <div class="text-wrap">
              <div class="title">
                  <h3>If you have more questions/queries, please contact us.</h3>
              </div>
                <p></p>
                <form fxLayout="row wrap" [formGroup]="contactrequestservice.contactrequestform">
                  <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                      <mat-form-field class="w-100">
                          <input matInput placeholder="Your Name (required)" formControlName="Name" required>
                          <mat-error>Please enter a valid message</mat-error>
                        </mat-form-field>
                  </div>
                  <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                      <mat-form-field class="w-100">
                          <input matInput placeholder="Your Email (required)" formControlName="EmailAddress" required>
                          <mat-error>Please enter valid EmailAddress</mat-error>
                        </mat-form-field>
                  </div>
                  <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Your Phone Number (required)" formControlName="PhoneNumber" required>
                        <mat-error>Please enter valid Phone Number</mat-error>
                      </mat-form-field>
                </div>
                  <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                      <mat-form-field class="w-100">
                          <input matInput placeholder="Subject" formControlName="Subject"  required>
                          <mat-error>Please enter a valid Subject. Serious Enquiries Only.</mat-error>
                        </mat-form-field>
                  </div>
                  <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                      <mat-form-field class="w-100">
                          <textarea placeholder="Post content" matInput rows="10" formControlName="Message" required></textarea>
                          <mat-error>Please enter a valid Message. Serious Enquiries Only.</mat-error>
                        </mat-form-field>
                  </div>
                    <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                      <button class="btn-project" 
                              mat-raised-button color="accent" 
                              type="submit" 
                              [class.spinner]="fsubmitbuttonloading" 
                              [disabled]="contactrequestservice.contactrequestform.invalid"
                              (click)="UploadContactQueryRequest()">Send</button>
                    </div>
                    <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1" [hidden]="!fshowsubmitstatus">
                      <mat-label>Contact Request Status: {{fsubmissionstatusstring}}</mat-label>
                 </div>
            
        
                  </form>
            </div>
        </div>
    </div>

  </div>
</div>
