<div class="contact-page sec-padding">
  <div class="container">
  <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start"  class="p-0">
    <div fxFlex="100"   fxFlex.gt-sm="60" class="left-info-panel">
      <div class="title">
          <h3>Contact us</h3>
      </div>
       <ul>
         <li>
            <i class="material-icons">email </i>
            <br>
          <h4>Email</h4>
          <br>
          <p class=" text-muted text-muted">Support@MyMyVapor.com</p>
         </li>
       </ul>
    </div>
    <div fxFlex="100"   fxFlex.gt-sm="60" class="contact-form">
        <div class="title">
            <h3>Contact us</h3>
        </div>
        <form fxLayout="row wrap" [formGroup]="contactrequestservice.contactrequestform">
          <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
                  <input matInput placeholder="Your Name (required)" formControlName="Name" required>
                  <mat-error>Please enter a valid message</mat-error>
                </mat-form-field>
          </div>
          <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
                  <input matInput placeholder="Your Email (required)" formControlName="EmailAddress" required>
                  <mat-error>Please enter valid EmailAddress</mat-error>
                </mat-form-field>
          </div>
          <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
            <mat-form-field class="w-100">
                <input matInput placeholder="Your Phone Number (required)" formControlName="PhoneNumber" required>
                <mat-error>Please enter valid Phone Number</mat-error>
              </mat-form-field>
        </div>
          <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
                  <input matInput placeholder="Subject" formControlName="Subject"  required>
                  <mat-error>Please enter a valid Subject. Serious Enquiries Only.</mat-error>
                </mat-form-field>
          </div>
          <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <mat-form-field class="w-100">
                  <textarea placeholder="Post content" matInput rows="10" formControlName="Message" required></textarea>
                  <mat-error>Please enter a valid Message. Serious Enquiries Only.</mat-error>
                </mat-form-field>
          </div>
            <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
              <button class="btn-project" 
                      mat-raised-button color="accent" 
                      type="submit" 
                      [class.spinner]="csubmitbuttonloading" 
                      [disabled]="contactrequestservice.contactrequestform.invalid"
                      (click)="UploadContactQueryRequest()">Send</button>
            </div>
            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1" [hidden]="!cshowsubmitstatus">
              <mat-label>Contact Request Status: {{csubmissionstatusstring}}</mat-label>
         </div>
    

          </form>
    </div>
  </mat-card>
</div>
</div>

