<footer class="footer sec-padding">
  <div class="container">
      <div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" class="footer-widget about-widget"><a class="logo" style="width:39px; height:39px;" href="index.html"><img src="assets/images/mymylogo-2.png" alt="Awesome Image"></a>
          <p>We at "MyMy Vapor" take pride in our products.We are all about customer satisfaction.We use only high quality materials in our products. That is the reason, we are able to offer Life Time Warranty to our Vape Batteries.We stand behind our products. We welcome wholesalers and work with them to have a win-win business relationships. We have bulk-pricing and wholesale pricing available for our products. Please contact us for more information.We keep increasing the range of products constantly. Please contact us for more information.</p>
          <div class="link"><a href="#">MORE ABOUT US</a> </div>
        </div>

          <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget links-widget links-widget-pac">
              <div class="title">
                <h5>Wholesale Product Lines</h5>
              </div>
              <div class="row">
                  <ul>
                    <li><a href="home/products/All">Disposable Vape Products</a></li>
                    <li><a href="home/products/All">Device Kits/Vape Battery Products</a></li>
                  </ul>
              </div>
            </div>


        <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
          <div class="title">
            <h5>Subscribe Newsletter</h5>
          </div>
          <form action="#">
            <p>Get latest updates and offers.</p>
            <div fxLayout="column" class="newsletter-widget">
              <input type="text" placeholder="Enter your email address">
              <button type="submit" class="ped-btn-footer">SUBSCRIBE US</button>
            </div>
          </form>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.sm="mt-2" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
          <div class="title">
            <h5>Contact Us</h5>
          </div>
          <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-envelope"></i></div>
              <div class="text">
                  <p><a  href="mailto:support@mymyvape.com">support@mymyvape.com</a></p>
              </div>
          </div>
          <div fxLayout="row" class="tel-box">
            <ul fxLayout="row" class="social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
            
         </div>
  </div>
  </div>
</footer>
