<div class="about-us-wrapper">
  <div class="container">
    <div class="about-section sec-padding" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="100" fxFlex.gt-sm="50" class="left-info-panel">
      <img src="assets/images/about-us/aboutUs.jpg" alt="">
      </div>
      <div fxFlex="100" fxFlex.gt-sm="50" class="left-info-panel">
         <div class="about-us-intro">
             <h2>Our experience</h2>
             <p>Founded in 2020 with the goal of providing a safer alternative for adult smokers in USA, our founders broke through the vape industry by making long awaited premium quality e-liquids and devices. We strive to do our best to provide our customers with the highest quality products and services.We stand behind our products. Some of them come with a lifetime warranty. We’re always looking to achieve new things in the vape world and we’re excited and intrigued to see what comes next.</p>
             <div class="accordions">
             <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>Our Location</h4>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3137.254674199501!2d-85.70141104877783!3d38.157520379591936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88690c1c3d18649f%3A0x2a773c83590e21b8!2s1126%20Ulrich%20Ave%2C%20Louisville%2C%20KY%2040213!5e0!3m2!1sen!2sus!4v1603636761111!5m2!1sen!2sus" width="600" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>
                </mat-expansion-panel>
                  <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h4>Quality Products</h4>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p>We absolutely stand behind our products. We use only high quality parts and indigrients in them which makes our product unique among other products. Some of them come with life-time warranty.</p>
                    </mat-expansion-panel>

              </mat-accordion>
            </div>
         </div>
          </div>
    </div>
  </div>
  <div class="our-values sec-padding">
      <div class="container">
        <div class="title-wrapper">
          <h2>For our retailers</h2>
          <p></p>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" class="box-wraper">
            <div fxFlex="100" fxFlex.gt-sm="33.3" class="box">
              <div class="content">
                <div class="icon-box">
                    <i class="material-icons">
                        done_all
                        </i>
                </div>
                  <h4>Excellent quality</h4>
                  <p>Order from us and give your customers a fully supported product lines.</p>
              </div>
             </div>
             <div fxFlex="100" fxFlex.gt-sm="33.3" class="box">
                <div class="content">
                  <div class="icon-box">
                      <i class="material-icons">
                          build
                          </i>
                  </div>
                    <h4>Discounted Shipping</h4>
                    <p>We provide discounted shipping for our bulk ordering customers.</p>
                </div>
               </div>
               <div fxFlex="100" fxFlex.gt-sm="33.3" class="box">
                  <div class="content">
                    <div class="icon-box">
                        <i class="material-icons">
                            contact_support
                            </i>
                    </div>
                      <h4>Online Support</h4>
                      <p>We provide order support to our customers. We allow our customers to register their MyMy products and file warranty claims online.</p>
                  </div>
                 </div>
        </div>
      </div>
  </div>
</div>
